  
html
  overflow-y: scroll

body, html
  width: 100%
  margin: 0
  padding: 0
  background-color: rgba(0,0,0,1)

button
  cursor: pointer

button, input
  margin: 0
  border: 0
  padding: 5px
  height: 100%
  &:focus
    outline: none

header
  width: 100%
  min-height: 10vh
  transition: 1s
  background-color: rgba(255,255,255,.1)

.header
  &_active, &_scroll
    display: flex
    align-items: center
    justify-content: center
  &_button_trends, &_button_search
    margin-right: 10px
  &_input_search
    text-align: center

.content
  width: 100%
  min-height: 90vh
  background-color: rgba(255,255,255,.1)
  &_columns
    width: 90%
    height: 100%
    margin: 0 auto
    display: flex
    justify-content: center
  &_column
    display: flex
    flex-direction: column
    width: 30%
    background-color: black
    height: 100%
    margin: 0 5px 0 5px
    img
      cursor: pointer

.header_scroll
  transition: .5s
  position: fixed
  top: -200px
  left: 0
  display: none
  background-color: rgba(0,0,0,.3)

.success, .error
  transition: .5s
  width: 90%
  min-height: 50px
  position: fixed
  line-height: 50px
  text-align: center
  left: 5%
  bottom: 10px
  opacity: 0
  font-size: 20px
  font-family: Arial
  font-weight: bold
  color: white

.error
  background-color: rgba(141,16,16,1)

.success
  background-color: rgba(0,240,24,1)
  
@import "media.sass"
